<nav class="site-navbar">
  <div class="navbar-container">
    <a href="/courses" class="navbar-logo">SkillForge</a>

    <ul class="navbar-links">
      <li><a href="/courses">Courses</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <div class="navbar-actions">
      <a href="/courses/new" class="btn-login">add course</a>
     
    </div>
  </div>
</nav>
