<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>add course</h3>
    <form method="post" action="/courses">
        <input type="text" placeholder="enter course name" name="course[name]"><br>
        <textarea name="course[description]" placeholder="enter description"></textarea><br>
        <input type="text" name="course[image]" placeholder="enter url"> <br>
        <input type="number" name="course[price]" placeholder="enter price"><br>
        <input type="text" name="course[tutor]" placeholder="enter tutor name"><br>
        <button>add course</button>
    </form>
</body>
</html>